html, body {margin:0;padding:0;height:100%;}

#map{
    width:100%;
    height:99%
}

.popup {
    text-align:center;
}
.popup .slideshow .image        { display:none; }
.popup .slideshow .image.active { display:block; }
.popup .slideshow img {
    width:100%;
}
.popup .slideshow .caption {
    background:#eee;
    padding:10px;
}
.popup .cycle {
    padding:10px 0 20px;
}
.popup .cycle a.prev { float:left; }
.popup .cycle a.next { float:right; }
/* EOS */



*{
    margin:0;
    padding:0;
}
body{
    background:#333;
}
.page{
    font-family:sans-serif;
    max-width:480px;
    margin:0 auto;
    background:#cccccc;
    color:#735c5c;
    line-height:1.5;
    position:relative;
}

.header{
    padding:0 12px;
    position:fixed;
    z-index:999;
    width:100%;
    /*max-width:480px;*/
    background: #cccccc;
    box-sizing:border-box;
    border-bottom:1px solid #735c5c;
}

.header-title{
    line-height:50px;
    font-size:22px;
}
ul,li{
    display:block;
}
li{
    height:50px;
    line-height:50px;
    padding:0 12px;
    border-bottom:1px solid #777;
    background:#cccccc;
}

#menu-button{
    position:absolute;
    top:0;
    right:0;
    width:50px;
    height:50px;
    overflow:hidden;
    background:#cccccc;
    color: #735c5c;
    line-height:50px;
    text-align:center;
    font-size:40px;
    cursor:pointer;
    transition:all .5s;
}


#menu-button::after{
    content:'×';
}
#menu-button.close{
    color:#735c5c;
    background:#cccccc;
}
#menu-button.close::after{
    content:'≡';
}

#menu{
    z-index:900;

    transition:transform .5s;
    position:absolute;
    width:100%;
    /*max-width:480px;*/
    transform:translateY(-300px);

}
#menu.show-menu{
    transform:translateY(51px);
}

.main{
    padding:62px 12px 12px 12px;
}

.slider{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.container {
    height: 200px;
    position: relative;
    border: 3px solid green;
}
